/* src/components/NameTag.module.css */
.tag {
  width: 90mm;
  height: 120mm;
  position: relative;
  background-color: #000;
  overflow: hidden;
  box-sizing: border-box;
}

.tag::before {
  content: '';
  position: absolute;
  inset: 0;
  /* Use SVG backgrounds from src/img */
  background-image: var(--bg, url('../img/green.svg'));
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: var(--tint, none);
}

/* Theme backgrounds: explicit assets for first two cards */
.theme0 { --bg: url('../img/red.svg'); --tint: none; }
.theme1 { --bg: url('../img/yellow.svg'); --tint: none; }
.theme2 { --bg: url('../img/green.svg'); --tint: none; }
/* 4th theme: white */
.theme3 { --bg: url('../img/white.svg'); --tint: none; }
/* 5th theme: bluegreen */
.theme4 { --bg: url('../img/bluegreen.svg'); --tint: none; }

.header {
  position: absolute;
  top: 17px;
  left: 17px;
}

.seminarLabel {
  color: #ccc;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 4px 0;
}

.meetOne {
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin: 0;
  line-height: 1;
}

.nameBox {
  position: absolute;
  /* Place over the white box area in the background image */
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 83%;
  min-height: 36mm;
  background: #fff;
  border-radius: 4mm;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5mm 6mm;
  box-sizing: border-box;
}

.name {
  color: #000;
  font-weight: 900;
  text-align: center;
  line-height: 1.1;
  word-break: keep-all;
  white-space: pre-wrap;
}

/* Footer removed per spec */
